betterproto[compiler]==1.2.5
black==22.10.0
bumpversion
ddtrace==2.1.7
docutils
flake8
flaky
freezegun==0.3.12
ipdb
mypy==0.971
pip-tools
pre-commit
protobuf
pytest~=7.4
pytest-cov
pytest-csv~=3.0
pytest-dotenv
pytest-logbook
pytest-mock
pytest-xdist
sphinx
tox>=3.13
twine
types-colorama
types-docutils
types-PyYAML
types-freezegun
types-Jinja2
types-mock
types-protobuf
types-python-dateutil
types-pytz
types-requests
types-setuptools
wheel
